.general {
  text-align: center;
  background-image: url("../../img/6519600523_c06df613d8_b.jpg");
  background-size: cover;
  padding-top: 10px;
}
.container_search {
  columns: 4;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-column-gap: 5%;
  grid-row-gap: 10px;
  margin: auto;
  padding: 1%;
  margin-top: 30px;
  margin-left: 2%;
  margin-bottom: 20px;
  width: 95%;
  min-height: 650px;
}
.card_search {
  border: 1px solid black;
  width: 100%;
  min-height: 370px;
  max-height: 600px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  background-color: rgba(212, 209, 224, 0.801);
  border-radius: 5px;
  justify-content: center;
}

.sub_cont1 {
  width: 100%;
  min-height: 170px;
  max-height: 300px;
  justify-content: center;
}

.sub_cont2 {
  margin: auto;
  text-align: center;
  width: 98%;
  height: 150px;
}
.name_card {
  width: 100%;
  min-height: 40px;
  max-height: 70px;
  margin-bottom: -10px;
  border-radius: 5px;
}

.image_search {
  margin: auto;
  margin-top: 10px;
  width: 80%;
  height: 155px;
  border: solid 1px black;
  background-image: url("../../img/prueba.jpg");
  border-radius: 5px;
}

h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: -22px;
}

.err {
  text-align: center;
  color: rgba(207, 47, 47, 0.829);
  display: flex;
  justify-content: center;
}
.form_search {
  text-align: center;
  width: 100%;
}
.search_a {
  width: 20%;
  border-radius: 1px;
  border: solid 1px black;
  height: 20px;
}

.buttom_h {
  width: 80px;
  min-height: 23px;
  border-radius: 1px;
  border: solid 1px black;
  background-color: rgba(15, 15, 66, 0.541);
  color: white;
}
.buttom_h:hover {
  width: 90px;
  height: 25px;
  background-color: rgba(12, 12, 29, 0.541);
}

.div_btn {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
}

.star {
  display: flex;
  margin-left: 38%;
  width: 50%;
}
